[2016-04-24 14:14] dail8859 opened #1 "NPPN_DOCORDERCHANGED has wrong value"
NPPN_DOCORDERCHANGED is defined [incorrectly](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/3e28c64b90309f13525c539355b6e77acce0195d/Demo%20Plugin/NppManagedPluginDemo/NppPluginNETHelper.cs#L631). It is an old bug from the original template. You might take a look at [this](https://github.com/sanastasiou/RTextNpp) plugin (this is where I first caught this bug) because this author h

[2016-04-24 14:42] kbilsted commented on #1
Many thanks. I'm new to npp plugins myself ..

so any more specific hints for changes or pull request  will be much appreciated

[2016-04-24 15:01] dail8859 commented on #1
The notifications should be exactly the same as what is in the [Notepad++ source code](https://github.com/notepad-plus-plus/notepad-plus-plus/blob/287ce9ec147d6d64224d8990f99385f57a240df4/PowerEditor/src/MISC/PluginsManager/Notepad_plus_msgs.h#L546). You'll notice that there are also more messages that are not in the template. That's why I said it may just be easier to pull code from that repo I r

[2016-04-24 18:44] kbilsted commented on #1
fixed

[2016-04-24 18:44] #1 closed

[2016-04-25 07:40] ufo opened #2 "(old) plugin version 0.7"
Hi,
there was a more recent version over here, in case you missed it and want to have a look at anything in it:
https://bitbucket.org/uph0/npppluginnet
But please keep on pushing your template version, since I'm too busy in real life anyway.
Thanks!

[2016-04-25 07:44] kbilsted commented on #2
oh I didn't realise. Thanks! I'll have a look at it. Mostly what I've done is to connect the demo to softlinking with the template files and removing the partial classes. I was wondering if the template should only do the dllexport and then have a nuget for all the actual integration code instead. That way people can easier upgrade their plugin code...

[2016-04-25 08:58] kbilsted commented on #2
@ufo  I see that the file `NppPlugin.NET.v0.7\Demo\NppManagedPluginDemo\DllExport\NppPlugin.DllExport.targets`  has changed content. Can you elaborate a bit on that

Also the files `Mono.Cecil.dll`, `NppPlugin.DllExport.dll`, `NppPlugin.DllExport.MSBuild.dll` have changed. Is there a reason you are not depending on these files through Nuget?

[2016-04-25 12:36] #2 closed

[2016-04-27 09:07] kbilsted opened #6 "sync comments and constants"
sync all comments and constants from https://raw.githubusercontent.com/notepad-plus-plus/notepad-plus-plus/master/scintilla/include/Scintilla.iface to  https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/master/Visual%20Studio%20Project%20Template%20C%23/Integration/Scintilla_iface.cs

work must be done on branch `topic/sync_scintillaiface` see https://github.com/kbilsted/NotepadPlusPlu

[2016-04-27 23:06] dail8859 commented on #6
Just FYI in case you know (or want to learn) Python, there are [Python scripts](https://github.com/notepad-plus-plus/notepad-plus-plus/tree/287ce9ec147d6d64224d8990f99385f57a240df4/scintilla/scripts) that parse out the iface file. Shouldn't be too hard to make it auto-generate at least most of the Scintilla_iface.cs file.

[2016-04-28 07:46] kbilsted commented on #6
hmm that might be a good approach. but some functions are not mapped, and I see the file has been changed 3 times since 2013 - so doing this manually may not be that much of a deal.,,

[2016-04-29 12:22] #6 closed

[2016-04-29 13:28] kbilsted opened #9 "Create an editor gateway"
Create a primary interface for plugin-writers to Notepad++/Scintilla.

changes must be done on branch topic/editorgateway_v1

[2016-04-29 13:45] kbilsted opened #10 "bug in python generator for scintilla.iface"
@dail8859  script for autogenerating C# fails for the variable

    INVALID_POSITION = -1,

`uint` cannot have the value of -1 - I've manually changed the value to the old value

        INVALID_POSITION = 0xFFFFFFFF,

but the script has yet to be fixed

[2016-04-29 14:24] #10 closed

[2016-04-29 20:39] kbilsted commented on #9
@dail8859  looking at the stuff I've done so far with the gateway `EditorGateway.cs` I believe we can tweak the python script you PR'ed to code generate the same stuff for us - perhaps with the exception of `EditorAppendTextAndMoveCursor` and such convenience methods .. what is your gut feeling? I'll probably look into this in the comming days...

[2016-04-29 21:02] dail8859 commented on #9
Yeah it doesn't look too hard since a lot of it will just be [boilerplate](https://en.wikipedia.org/wiki/Boilerplate_code) code. If you aren't that familiar with Python or run into problems, let me know and I can take a crack at it.

[2016-04-30 07:16] kbilsted commented on #9
Oh I've done a fair amount back in 2006 :)
Den 29. apr. 2016 23.02 skrev "dail8859" <notifications@github.com>:

[2016-05-01 20:19] kbilsted commented on #9
@dail8859  I'm making great progress as you can see. However, I'm worried that when you look at the rewrite of demo.cs in 8b74f9260db0b5860c624db282e9e93016772af6

	- Win32.SendMessage(hCurrentEditView, SciMsg.SCI_BEGINUNDOACTION, 0, 0);
	- Win32.SendMessage(hCurrentEditView, SciMsg.SCI_REPLACESEL, 0, insertString);
	- Win32.SendMessage(hCurrentEditView, SciMsg.SCI_SETSEL, currentPos, currentPos);

[2016-05-02 10:43] sanastasiou commented on #9
@kbilsted  There shouldn't be any problems with this call, unless of course u have some for loop doing this call and in the meantime someone changes the focused view. Bare in mind that any SendMessage call is asynchronous, thousand of such call / second will cause the message queue to congest..

There's the "direct" api which you could theoretically use, but I have run into trouble using it ( rand

[2016-05-02 12:54] dail8859 commented on #9
Is the worry more of a performance issue or some other reason?

I know for the straight C usage of SendMessage() there is a lot of casting data types. I'm not familiar enough with C# to know what the best way to handle this case would be.

First of all, I noticed `colour` is within `isTypeUnsupported()` however it is handled in `translateType()`. Is this correct?

Don't let me hold you back so wor

[2016-05-02 13:21] kbilsted commented on #9
@dail8859

1. Yes my worries was performance.. since the old democode stored in a variable the current view.

2. unsupported types: Yeah I started supporting Color but then I figured I needded to read up on the representation as 3 values are stored in 1 int... feel free to help out on this. I'm currently working on the `resultstring`

[2016-05-02 13:23] kbilsted commented on #9
@sanastasiou  Many thanks for the feedback.

[2016-05-02 13:28] dail8859 commented on #9
I wouldn't be too concerned about performance. Although it's hard to tell what all someone might build from this template.

One thing that might be possible is to catch the `NPPN_BUFFERACTIVATED` notification and cache the current view at that time. Haven't tried that myself but in theory that should be sufficient.

[2016-05-02 13:31] sanastasiou commented on #9
Yeah you will need to observer buffer activated event definitely for MANY operations. I have some class in my plugin which does that.

[2016-05-02 15:19] kbilsted commented on #9
@sanastasiou  @dail8859   but I'm thinking that it is bad to loose the kind of control you have with the low-level win32 api calls today. So I'm thinking the constructor of the ScintillaGateway should take the instance PluginBase.GetCurrentScintilla() - then we can mimic how things are today.

if a plugin is writing to some file and the user switches to another file/viwq, I would want the plugin t

[2016-05-02 15:48] dail8859 commented on #9
What I've done in my LuaScript plugin (which is the same way the PythonScript plugin does it) is have 3 "gateways".

- `editor` - always refers to the "active" Scintilla instance, which is the way it does currently. The same method I mentioned of caching the current handle could be done.
- `editor1` - always refers to the "first" Scintilla instance.
- `editor2` - always refers to the "second" Scin

[2016-05-02 17:29] kbilsted commented on #9
@dail8859  you are more than welcome to instantiate three instances in the project template `main.cs` file with comments explaining when to use what :+1:

[2016-05-02 17:43] kbilsted opened #12 "win32 api extension"
In https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/commit/04639ebfcec1997064000239405a577290ac2aa7 I've added

[code]

not sure if it works - but was required for making my code generation work (as it uses only utf-8 strings). A quick search in the notepad++ project did not reveal whether this is ok or not. I'm prefering this way over using the overloads taking a `StringBuilder` as I use

[2016-05-04 17:17] kbilsted opened #13 "Code generate notepad++ constants and helper methods"
Today we hand-synchronize https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/master/Visual%20Studio%20Project%20Template%20C%23/Integration/Msgs_h.cs   with https://github.com/notepad-plus-plus/notepad-plus-plus/blob/287ce9ec147d6d64224d8990f99385f57a240df4/PowerEditor/src/MISC/PluginsManager/Notepad_plus_msgs.h

I suggest we build a parser and code generate the file like we do with th

[2016-05-04 17:18] kbilsted commented on #13
@dail8859  something for you? :)

[2016-05-04 17:38] dail8859 commented on #13
I do agree automating it would be nice have, but I'll pass for now. It seems the effort to implement it doesn't really justify the value gained. The file really doesn't change [very often](https://github.com/notepad-plus-plus/notepad-plus-plus/commits/master/PowerEditor/src/MISC/PluginsManager/Notepad_plus_msgs.h), plus if updates are made to the header there's nothing to say that it wouldn't brea

[2016-05-04 17:41] dail8859 commented on #9
I don't have access to VS2015 at all and haven't done C# development in a while.

An alternative solution would just be to let the user of the template handle all this kind of functionality. If they want to cache which Scintilla instance is the current one or just use something a bit simpler which always requests the current one for every call.

I guess it's a matter of how much the template does

[2016-05-04 17:43] kbilsted commented on #13
@dail8859  no worries mate ;) I'm not sure its not worth the gain as it can also generate all the methods that we have generated here https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/2cdeeb927baed3788606bc86ec6176004a0dcf0e/Visual%20Studio%20Project%20Template%20C%23/ScintillaGateway.cs   that file is 5000 lines long and we have an interface file of 2500 lines also code generated

[2016-05-04 17:52] dail8859 commented on #13
Oh I completely agree it is needed for the Scintilla methods. The iface file Scintilla provides gives adequate information to generate all those methods. If Notepad++ also provided a similar iface file then it would make it much easier and be worth it.

Just trying to pull information out of the header would be much more of a pain and there really is no guarantee of formatting, validity, etc. Inst

[2016-05-04 18:45] kbilsted commented on #13
Perhaps a better strategy then is to create a  consistent layer on top of
n++ :) you can create it as a generic file and we can then generate c++ and
c# for it :)
Den 4. maj 2016 7.52 PM skrev "dail8859" <notifications@github.com>:

[2016-05-04 18:56] dail8859 commented on #13
Which is exactly what the iface file is from Scintilla. :) Notepad++ isn't as consistent as Scintilla is with its API but I guess it is still possible.

So its a matter of either (a) maintaining a script to try to parse out the header manually, or (b) maintain an iface file that at least has the added benefit of being useful to other languages/programmers/maintainers.

[2016-05-04 19:04] kbilsted commented on #13
Or convince mr ho to use it :)
Den 4. maj 2016 8.56 PM skrev "dail8859" <notifications@github.com>:

[2016-05-10 02:27] LeSou opened #14 "Export Failed?"
[code]
[code]

Visual Studio 2015   windows10

I erroneous operation yet ?

[2016-05-10 06:39] kbilsted commented on #14
any warnings or error messages when you build?

[2016-05-10 07:26] LeSou commented on #14
1>  NppManagedPluginDemo.VS2015 -> E:\Code\NotepadPlusPlusPluginPack\Demo Plugin\NppManagedPluginDemo\bin\Debug\Demo.dll
1>  ILDasm: calling 'C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6 Tools\ildasm.exe' with /quoteallnames /unicode /nobar /linenum "/out:C:\Users\LC\AppData\Local\Temp\tmp2F06\Demo.il" "E:\Code\NotepadPlusPlusPluginPack\Demo Plugin\NppManagedPluginDemo\bin\De

[2016-05-10 07:26] LeSou commented on #14
No abnormalities or warnings ?

[2016-05-10 12:16] kbilsted commented on #14
I will have a look at the dll's I'm producing at home to check for differences.

[2016-05-10 12:26] LeSou commented on #14
Thank you. Waiting for your reply

[2016-05-10 17:51] kbilsted commented on #14
I just tried my demo plugin from branch https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/tree/topic/editorgateway_v1 soon I'll be merging this branch and create a new release. Please try it out.

here is the output

	PS C:\src\NotepadPlusPlusPluginPack.Net\Demo Plugin\NppManagedPluginDemo\bin\Debug> & 'C:\Program Files (x86)\Microsoft
	Visual Studio 14.0\VC\bin\dumpbin.exe' -exports .\Dem

[2016-05-10 20:43] kbilsted commented on #14
I just updatede the code - try the script `makerelease.ps1` on branch https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/tree/topic/editorgateway_v1  and create a new plugin in visual studio

[2016-05-11 00:33] LeSou commented on #14
Dump of file MyNppPlugin3.dll

File Type: DLL

  Section contains the following exports for \MyNppPlugin3.dll

    00000000 characteristics
    57327D36 time date stamp Wed May 11 08:30:46 2016
        0.00 version
           0 ordinal base
           3 number of functions
           3 number of names

    ordinal hint RVA      name

          2    0 0002607E getFuncsArray
          4    1 9D6F942

[2016-05-11 07:21] kbilsted commented on #14
I honestly do not know. Maybe people on https://notepad-plus-plus.org/community/category/5/plugin-development can help..

[2016-05-11 13:51] LeSou commented on #14
Okay, thank you

[2016-05-12 19:08] kbilsted commented on #14
Do you have c++ installed via the visual studio installer?

[2016-05-21 20:52] kbilsted commented on #14
@LeSou  try sending me the source code and i'll have a look - you may not be the only one with this problem..

[2016-05-21 20:58] kbilsted commented on #9
@dail8859  yes the user should handle this himself, but I wanted the demo to reflect the best practises and the basis understanding needed in order to make a plugin...

[2016-05-21 20:58] #9 closed

[2016-05-21 21:22] dail8859 commented on #9
Ah. I see what you mean.

[2016-05-21 21:59] kbilsted commented on #9
@dail8859  my knowledge of plugin writing is still limited. So for now it wont be added to the demo.

btw did you see https://sourceforge.net/p/scintilla/feature-requests/1147/  I'm amazed to be the first to notice. also https://sourceforge.net/p/scintilla/bugs/1829/

[2016-05-22 00:29] dail8859 commented on #9
I did see the bug report and the fix for it. The feature request is a good idea.

[2016-07-13 09:23] AdrianHHH opened #16 "Build problems"
Hello Kasper,

This is a slightly modified copy of the issue first posted [here](https://notepad-plus-plus.org/community/topic/11992/update-pluginpack-updated-to-v0-92-76).

I have not made any progress on understanding the issues. When I have a better understanding of how to use the plugin pack I would be happy to make some improvements to the ReadMe etc.

Thank you for creating the new plugin pa

[2016-07-13 21:51] kbilsted commented on #16
Hi @AdrianHHH

thanks for the report. I hope the following points are of use. Feel free to improve the readme and other stuff. It sure would be great to get rid of the 3.5.2 dependency eg. but it requires digging around, uninstalling stuff or maybe setting up a virtual machine.. not something I have in scope at the moment.

  * keeping the version number is fine - we should change the readme
  * N

[2016-07-18 13:31] AdrianHHH commented on #16
Thank you for the comments Kasper. I have made some progress.

- File "lib.exe" is only installed as part of the C/C++ tools, I had not installed them. This stage now works.

- The `<Copy...>` part of file ""NppPlugin.DllExport.targets" tries to write the plugin DLL into "C:\Program Files (x86)\Notepad++\plugins\", which requires administrator permissions or similar. I installed Notepad++ to allow

[2016-07-18 15:45] kbilsted commented on #16
Im glad to hear it works. FEel free to update the readme so thing become clearer for the next person to use this lib :)

[2016-08-23 12:32] silver-graf commented on #16
hello, AdrianHHH.

[2016-09-14 21:12] kbilsted commented on #16
@silver-graf try posting the code to github..

[2016-10-14 13:45] Krid82 opened #17 "Notepad++ freezes when working with undocked dialogs that use container-controls"
An exact description can be found here:
https://notepad-plus-plus.org/community/topic/12519/net-plugin-dockable-dialog-freezes-notepad

[2016-10-16 13:13] kbilsted commented on #17
I cannot give you a good answer as to why this crashes. I'd be happy to receive a PR when you fixed the bug.

[2016-10-16 13:16] #16 closed

[2016-10-16 13:16] #14 closed

[2016-11-05 00:01] chcg opened #18 "X64 pointer arithmetic issue"
See https://notepad-plus-plus.org/community/topic/12633/npppluginnet-64-bit.

Issue is caused by problematic pointer arithmetic in

    public void Add(FuncItem funcItem)
and

    public void RefreshItems()

in class FuncItems in NppPluginNETHelper.cs, like:

        IntPtr ptrPosNewItem = (IntPtr)((int)newPointer + oldSize);

So the cast to int from type IntPtr shortens the pointer for X64, see e

[2016-11-08 17:09] kbilsted commented on #18
Closed by pr

[2016-11-08 17:09] #18 closed

[2016-11-24 14:17] wahmedswl opened #20 "Thanks"

[2016-11-24 19:34] kbilsted commented on #20
?

[2016-11-25 03:45] wahmedswl commented on #20
I had created NPP Plugin which was based on VS2010. Now, switched to VS2015 and this helped me to get it working and also, i was amazed that on Build, it automatically copied the dll to plugins folder. It is great UX, so thanks :-)

[2016-11-25 03:45] #20 closed

[2016-11-28 19:54] kbilsted opened #21 "64 bit support"
A lot of good thoughts here on the 64bit issue. Maybe some one will fixup this in here

https://notepad-plus-plus.org/community/topic/12633/npppluginnet-64-bit

[2017-01-13 14:50] nea opened #23 "Q: Adding 3rd Party Libs via NuGet and using them"
Hi there

First of all: Thanks a lot for this template! Getting it to work was simple and as expected. Thanks for that.

But I have a question regarding the addition of other 3rd Party Libraries: Do these have to be "prepared" to be usable as extended plugin library? Or do these have to be added in some way I am missing, when referenced via NuGet?

Just for example: https://github.com/Knagis/Commo

[2017-01-13 17:36] kbilsted commented on #23
Perhaps it has to do with dynamically loading. Perhaps you can il-merge your dependency so that it's all in one dll. ? Do let me know if you get it working

[2017-01-16 08:16] nea commented on #23
Hi there

Thanks for the direction.

I tried to use ILMerge and the MSBuild Task with Markdig and it wouldn't work. The process crashes with an "syntax error at aggressiveinlining" already.
I switch to CommonMark.net then, which builds fine and I would get a compiled .dll in Notepad++. But as soon as I open NPP it states that the .dll is incompatible and cannot be used.

What I did was using this

[2017-01-16 09:06] kbilsted commented on #23
To ensure it has to do with the loading of code, try inlining your dependency as code in your project..ie clone the other repo and copy all files to your repo. Then see if you can make it work when you build everything in one go.

[2017-01-16 11:02] nea commented on #23
Hey

I cloned the base code from https://github.com/Knagis/CommonMark.NET into a newly created template and made the same call and it works.

[2017-01-16 11:07] kbilsted commented on #23
Great. Perhaps asking in https://notepad-plus-plus.org/community/category/5/plugin-development

[2017-02-07 21:00] kbilsted commented on #23
ILMerge or cloning directly seems to be working. I'll close this and open an issue for documentation in the `README`

[2017-02-07 21:00] #23 closed

[2017-02-07 21:01] kbilsted opened #25 "Document how to use external dependencies in plugins"
A brief description of how to do this in the `README.MD`.

so far what works

  * clone the dependency directly into your project so it is compiled along with your code
  * use ILMerge (perhaps also a reference to a working project using this strategy)

[2017-02-07 21:03] kbilsted opened #26 "upgrade Unmanaged Exports (DllExport for .Net) to v1.2.7"
We are using an old version, a newer version is found at  https://www.nuget.org/packages/UnmanagedExports

not sure if the format of the `RGiesecke.DllExport.targets` has changed compared to the version we are using

[2017-02-07 21:06] kbilsted commented on #12
no one knows...

[2017-02-07 21:06] #12 closed

[2017-02-07 21:06] kbilsted commented on #13
I've created a file synchronizer NotepadPlusPlusPluginPack.Net\ToolsForMaintainersOfTheProjectTemplate\notepad_hfiles_synchronizer`

[2017-02-07 21:06] #13 closed

[2017-02-16 13:59] dail8859 opened #29 "SetCommand() has unneeded parameter"
[`SetCommand()`](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/107c011eb9d446d541510f47f1f06e517cdf7bca/Visual%20Studio%20Project%20Template%20C%23/PluginInfrastructure/NppPluginNETBase.cs#L26) currently takes an index as its first parameter. It uses this to set the `_cmdID` field. However, this is a field N++ [sets internally](https://github.com/notepad-plus-plus/notepad-plus-plu

[2017-02-16 20:31] MattWorkWeb commented on #26
Has anyone been able to get C# NPP plugins running on Windows 8 or Windows 10?  I can get mine working on Windows 7 x64 but NPP fails to load them on Windows 8.1 x64 or Windows 10 x64.  Anyone know why;  I have same problem with this template.

[2017-02-16 20:32] MattWorkWeb commented on #26
Btw, they work fine running in the x86 version of NPP on either platform.

[2017-02-16 22:34] MattWorkWeb opened #30 "Cannot get C# plugins to run with x64 NPP for anything newer than Windows 7 x64 OS"
I've tried the older c# template and the newer and cannot get to run on Windows 8.1 or Windows 10 using x64 bit version of NPP.  Has anyone had luck with this and if so where can I get the template?  They work for x64 on Windows 7 and x86 on all OS's.  I get plugin dll won't load with current version of NPP message at NPP launch.  Any thoughts?

[2017-02-23 22:26] kbilsted commented on #25
closed by #27

[2017-02-23 22:26] #25 closed

[2017-02-23 22:28] kbilsted commented on #21
@lipnitsk  have you had any luck with the 64 bit stuff? see #30

[2017-02-23 22:31] kbilsted commented on #29
great maybe it fixes #17

[2017-02-24 14:56] dail8859 commented on #29
Hmm, not sure if it is related or not. I would think if wrong command IDs are getting used it would run into issues much sooner.

[2017-02-24 14:58] dail8859 commented on #17
I did some digging around into this but could not track it down, even ran Notepad++ in a debugger and stepped through the code. The last thing Notepad++ appears to call is `ShowWindow()`. I can't say I completely understand fully what it expects from docked dialogs. I do use a docked dialog for one of my other plugins and have never ran into this kind of issue (though it doesn't use the combinatio

[2017-02-26 22:02] kbilsted commented on #17
have you tried compiling the demo from the plugin pack and starting n++ ? there is an example of dockable windows

[2017-02-26 23:36] dail8859 commented on #17
Yes I was able to replicate the bug with the demo plugin but wasn't able to track down the cause of the problem.

[2017-03-17 12:22] nea opened #31 "I: Visual Studio 2017 change of compiler tools directory layout"
Hey @kbilsted

I just had to reinstall my machine and with it I updated/installed the newest Visual Studio version 2017. Unfortunately, they made a bigger change in the folder structure. You can read more about it here https://blogs.msdn.microsoft.com/vcblog/2016/10/07/compiler-tools-layout-in-visual-studio-15/

By that, the DllExportTask property
[code]
won't work anymore, as the Dev Environment

[2017-04-16 21:03] jokedst commented on #31
I had problems compiling too, and I 'm not sure this matters but I don't have C++ installed for my VS2017.
I only had problems with lib.exe, so I set this LibToolPath:
`LibToolPath="$(DevEnvDir)..\..\SDK\ScopeCppSDK\VC\bin"`
and now it works.

[2017-04-20 11:13] jokedst commented on #31
Ok, by simply _removing_ the LibBoolPath attribute on the DllExportTask in NppPlugin.DllExport.targets it works for me in both VS2015 and VS2017. :P

[2017-04-26 00:41] UniChen opened #32 "Build FAILED (Done executing task "DllExportTask" -- FAILED.)"
Excuse me. I got the problem of build, how can I solve it?
I follow the "Getting started" that from the README.md and create a new notepad++ template project.
finally, I just build this project but got the problem below.

1>  ILAsm: calling 'D:\Tool\Visual Studio 2015\VC\bin\Lib.exe' with "/def:D:\SourceCode\C#\IntelHexViewer\IntelHexViewer\bin\Debug\IntelHexViewer.X86.def" /machine:X86 "/out:D:\S

[2017-04-29 11:29] zizifn commented on #31
Thanks @jokedst @nea And in case someone can't found the path for "[NppPlugin.DllExport.targets](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/master/Visual%20Studio%20Project%20Template%20C%23/PluginInfrastructure/DllExport/NppPlugin.DllExport.targets)"

[2017-06-08 16:38] ewwink commented on #30
switch target framework to .net 4.0 solve the problem.

[2017-07-29 09:04] moon6969 commented on #31
I just wanted to give a little more specific detail for nea's solution above (thanks nea!) since it took a while for me to fully understand exactly what was happening (and my annual rebuild is coming up and I don't want my head to explode again!).

The symptom I experienced was a warning at build time of the unmodified NppManagedPluginDemo:
`NppPlugin.DllExport.targets : warning : Cannot find lib.

[2017-07-31 19:05] kbilsted commented on #31
Many thanks for all the comments. You are right we need support for 2017 soon. I've had a setback with a previous PR that foo'ed things a bit for me. Will revert those changes first and maybe have that as the last visual studio 2015 release. In the mean while, we can start a visual studio 2017 branch if people are really eager

[2017-10-06 19:23] kbilsted commented on #32
x86 or x64 build?

[2017-10-18 15:03] acrolink commented on #16
@kbilsted I am getting the same error `this ansi plugin is not compatible with your unicode notepad++` even with the very basic template (untouched).

[2017-10-18 16:00] kbilsted commented on #16
* what version of .net, how many bits
* what version of n++, how many bits

[2017-10-18 16:54] acrolink commented on #16
@kbilsted

n++ latest available 32 bit, net 4.6.1, plug-in compiled to 32 arch.

I see the problem only when compiling inside VS 2017, when compiling using VS 2015 no issue whatsoever, plug-in loads and works fine.

[2017-11-07 20:33] kbilsted commented on #26
Im not sure what it is with N++ and 64 bit. I have so many problems with plugins (and the plugin manager!) with N++ and 64 bit.

[2018-01-06 14:36] Jddl commented on #14
I switched the system environment to English, it worked~

[2018-01-06 14:56] kbilsted commented on #14
Thanks for the feedback. What do you mean English environment ?

[2018-01-06 15:05] Jddl commented on #14
Override for Windows display language.

[2018-01-10 03:18] Jddl opened #34 "the color is error?"
[code]

[2018-01-10 18:43] kbilsted commented on #34
?

[2018-01-11 06:15] Jddl commented on #34
[code]
the value seems wrong~
[code]

[2018-01-12 12:29] jokedst commented on #34
Yes, blue and green seems switched.
Also, the first constructor should probably be
[code]

[2018-01-12 13:14] kbilsted commented on #34
this is just democode feel free to make a PR ;)

[2018-01-12 13:15] kbilsted commented on #32
not heard back

[2018-01-12 13:15] #32 closed

[2018-01-20 21:42] kbilsted commented on #34
fixed

[2018-01-20 21:42] #34 closed

[2018-01-20 21:43] kbilsted commented on #31
is the 2017 working for you yet? Just got a new machine, installed the pluginpack and VS2017 and seems to be working here.

[2018-01-20 21:44] kbilsted commented on #30
try the v0.94.00 release

[2018-01-20 21:44] #30 closed

[2018-01-22 20:12] chcg commented on #26
@MattWorkWeb Hi, there are already multiple plugins running for x64 based on this or some predecessor, e.g.
- https://github.com/cpmcgrath/codealignment
- https://github.com/oleg-shilo/cs-script.npp
- https://github.com/p0358/notepadpp-CodeStats
- https://github.com/foospidy/GrepBugsPluginNotepadPlusPlus
- https://github.com/peter-frentrup/NppMenuSearch
...

For me they are running on WIn10. Typic

[2018-01-22 21:26] kbilsted commented on #26
@chcg  Perhaps the 4.0 requirement was the issue. The 0.94.00 did indeed run on the 64 bit without the need to upgrade the DllExport

[2018-01-22 21:26] kbilsted commented on #26
@MattWorkWeb  try the 0.94.00 release

[2018-05-09 05:45] SkorkaJ commented on #21
Hello,

the class ClikeStringArray cause an overflow on Win10 64bit.
The constructor “ClikeStringArray(int num, int stringCapacity)” of the class create the trouble.
For 64bit the `IntPtr _nativeArray` should be casted to long

OLD code
`Marshal.WriteIntPtr((IntPtr)((int)_nativeArray + (i * IntPtr.Size)), item);`
`Marshal.WriteIntPtr((IntPtr)((int)_nativeArray + (num * IntPtr.Size)), IntPtr.Zero);

[2018-05-30 15:14] davet-wsd opened #39 "arithmetic overflow listing all open files with ClikeStringArray"
From my plugin I'm trying to list all open files.  This has been working ok in 32 bit world or a couple of years, but my 64 bit version (in Visual Studio 2017) gets an error:

The code:

[code]

fails inside

`         public ClikeStringArray(int num, int stringCapacity)`

on the line

`                Marshal.WriteIntPtr((IntPtr)((int)_nativeArray + (i * IntPtr.Size)), item);`

saying

[code]

[2018-05-30 15:17] #39 closed, assigned to nobody

[2018-08-30 14:35] Poonamjo opened #40 "Plugin got crashed while opening Notepad++"
I am currently using Visual Studio 2010. I build the project and copied the dll file thus created in notepad++ plugin folder.
While opening the notepad++ , I got the below message

Plugin.dll just crashed in notify(SCNotification *notification):

notification ->nmhdr.code == 1002
notification ->nmhdr.hwndForm == 0000000000006A073C
notification ->nmhdr.idForm == 0

Please help to resolve this.

[2018-08-30 15:17] jokedst commented on #40
Visual Studio 2010 is not supported. I've only used Visual Studio 2017 (and msbuild).

Visual Studio Community 2017 should work fine, or just the .NET SDK and msbuild.

I'm not going to install VS2010 ;)

[2018-09-10 13:50] Poonamjo commented on #40
I am facing same issue for Visual Studio 2017 also

[2018-09-12 13:50] Poonamjo commented on #40
'notepad++.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\Program Files\Notepad++\plugins\MyNppPlugin3.dll'. Symbols loaded.
'notepad++.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\System.Windows.Forms\v4.0_4.0.0.0__b77a5c561934e089\System.Windows.Forms.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled

[2018-10-09 12:12] fods01 opened #41 "PropertyGrid dropdown list not showing up"
Steps:
1. Add a a PropertyGrid control in demo project frmGoToLine
2. Add a new class inside of frmGoToLine
`        class Test
        {
            public string Name { get; set; }

            public bool IsTrue { get; set; }

            public Color Color { get; set; }

            public Font Font { get; set; }
        }`
3. Add `propertyGrid1.SelectedObject = new Test();` in frmGoToLine con

[2018-12-20 14:55] timop18 opened #42 "ScintillaGateway GetText truncate"
Hi,

I've got a problem with the GetText(int length) method in the ScintillaGateway.
I wish to get a big text (around 15kb or even more), in that case the result is truncated at 10kb.
This is because of the textBuffer size.
Is it possible to replace original code :
`byte[] textBuffer = new byte[10000];`
with
`byte[] textBuffer = new byte[length];`

Thank you

Timop

[2018-12-27 15:02] jokedst commented on #42
There is a fix in pull request #38 but it hasn't been merged for a long while now...

[2018-12-27 15:06] timop18 commented on #42
Ah yes, thank you jokedst, I missed this request...

[2019-01-04 07:45] timop18 commented on #31
@noah- it worked for me with pluginpack v0.94 and VS2017 with fresh install

[2019-01-04 08:08] noah- commented on #31
Was this with target .net 4.0 or 3.5?

[2019-01-04 08:16] timop18 commented on #31
The target was .net 4.0

[2019-01-04 09:00] noah- commented on #31
Attempted to reinstall vs2017, still no change. Does msbuild standalone need to be installed?

[2019-01-04 09:08] timop18 commented on #31
Your project is a new pluginpack 0.94 or a migration from an old pluginpack ?

[2019-01-04 09:19] #42 closed

[2019-01-04 09:35] noah- commented on #31
I downloaded the 0.94 zip from the releases section and placed it in the template dir. then created new project from the newly added template.

[2019-01-04 09:50] timop18 commented on #31
OK, so, sorry but I don't see what could be the problem...

[2019-01-09 10:20] lutz opened #43 "Plugin via template not run in npp"
Hello,

I installed the template, but can't get the plugin to run inside NPP. I use the current Windows 10 x64 Pro version with NPP x86 (v7.6.2). The plugin (as generated by the template without any adjustments) is built correctly under `%PROGRAMDATA%\Notepad++\plugins\`. However, it is neither displayed in the plugin admin nor the commands anywhere else within NPP.
Best regards

P.S: The same beh

[2019-01-09 15:13] kbilsted commented on #43
Can you try a release of notepad from around jan 2018 ?

[2019-01-10 09:20] lutz commented on #43
With the Jan18 Version it seems to be loaded but the Unicode problem show up:

![grafik](https://user-images.githubusercontent.com/26437097/50958593-60fdcc00-14c1-11e9-9625-699a7d3bbf76.png)

[2019-01-16 21:22] kbilsted commented on #43
can't really tell you why

[2019-02-14 00:31] chcg commented on #21
See also https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/pull/35#issuecomment-357644668 regarding ClikeStringArray issues.

[2019-02-28 10:32] BlaxOne opened #45 "Copy the dll in the plugin subdirectory"
Hello,

I followed the steps to install and build your C# NppPlugin package. All went fine, except that the plugin was not showing in the plugin menu, nor the plugin icon in the toolbar. I found the dll had been copied directly in the plugins directory of Notepad++. I also noticed that the dlls of all the other plugins were placed in their own subdirectories. So I created a directory (in the plugi

[2019-02-28 18:04] jokedst commented on #45
Actually the pull request #44 does exactly that. Apply it yourself and it should work.

[2019-02-28 20:01] BlaxOne commented on #45
It works. Thanks a lot.

[2019-03-18 05:20] noah- commented on #31
Figured out the issue, needed to install .net 3.5 (including 2.0) because the NppPlugin.DllExport.MSBuild.dll is referencing msbuild v 2.0.0.0 instead of msbuild v 4.0.0.0

This should be updated.

[2019-04-09 13:21] gandarez opened #47 "The ANSI plugin is not compatible with your UNICODE Notepad++"
OS: Windows 10 Pro x64 | Version 1803 | Build 17134.648
Notepad++: v7.5.9 x64

Always I compile using x64 platform I get an error when running np++
![image](https://user-images.githubusercontent.com/782854/55803599-0f111600-5ab1-11e9-82a1-6b4244e82d9c.png)

![image](https://user-images.githubusercontent.com/782854/55803649-24864000-5ab1-11e9-95d3-3635320ae797.png)

[2019-04-10 09:29] jokedst opened #48 "Is this repository abandoned by kbilsted?"
kbilsted hasn't done anything in this repo since 20 Jan 2018. I'm starting to think he abandoned this project.

I'd be willing to step in as contributor if he allows it, in order to merge some PRs.
Otherwise I fear the only way to move forward is to fork the project.

Since kbilsted _is_ active on github he'll probably see this. Any thoughts?

[2019-04-10 12:40] kbilsted commented on #48
Hi @jokedst

thanks for reaching out. I'd be very interested in getting contributors onboard!
Is there a way I can reach out to you by voice communication?

I also have a few ideas to things we need to sort out. Here are a few things that come to mind

* support x32 and x64
* support vs2015, vs2017, vs2019  - or simply the newest?
* convert large part of the project template to a plain nuget packa

[2019-04-10 16:15] jokedst commented on #48
Sure! Duo/hangouts work at jokedst@gmail.com
My Danish is a bit rusty though so perhaps English is best? ;) (I'm Swedish btw)

Quick thought-responses:
* Since the free VS 2019 community is _identical_ to pro (except the license itself) anyone can install it - I'd say focus our few resources where it matters, e.g. elsewhere. (if someone want to backport it sure, we accept PRs)
* I've started a VSI

[2019-04-10 21:10] kbilsted commented on #48
To anyone else. All are welcome on the project. Drop a few lines in this issue if you want to step forward into the light :-)

[2019-04-10 21:13] kbilsted commented on #47
Does it work with an older version of notepad?
Does it work in 32bit?
maybe there are hints here https://github.com/oleg-shilo/cs-script.npp/issues/28

[2019-04-10 21:14] kbilsted commented on #45
#44 will be merged soon - closing

[2019-04-10 21:14] #45 closed

[2019-04-10 21:15] kbilsted commented on #43
@jokedst  any input?

[2019-04-11 09:18] kbilsted opened #50 "Develop Integrationtest plugin"
We need to develop a plugin that will carry out integrationtest of the functionality provided by the framework. We should start out with something simple and gradually make it nicer.

[2019-04-11 16:34] kbilsted commented on #47
What was the problem @gandarez

[2019-04-14 03:43] gandarez commented on #47
I just updated to v0.94.00 and it worked

[2019-04-14 05:42] kbilsted commented on #47
Many thanks for for getting back to me.

[2019-04-15 15:18] kbilsted commented on #31
@noah-  thanks for reporting. We should test and fix this. Feel free to PR

[2019-05-15 13:45] miaoweiwei opened #51 "MyNpp.dll is not compatible with the current version of Notepad++."
MyNpp.dll is not compatible with the current version of Notepad++.

[2019-05-15 18:19] kbilsted commented on #51
ty for reporting. can you please provide steps to reproduce and error message

[2019-05-16 01:05] miaoweiwei commented on #51
I used VS2017, the version of Notepad++ is 7.6.6, only used this template without adding any code.
![](https://i.imgur.com/hEjb2fU.jpg)

[2019-05-16 01:06] miaoweiwei commented on #51
![360截图20190516085948917](https://user-images.githubusercontent.com/20410007/57819174-dc49f400-77b9-11e9-985d-0b85a0f87646.jpg)

[2019-05-18 02:24] miaoweiwei commented on #51
Dumpbin has only three definitions exported from the DLL, respectively
  2 0 00039FB6 getFuncsArray
  4 1 00000000 getName
  0 2 00039FAA isUnicode

I am using the VS2017 Chinese version, my computer is win10，谢谢啦

[2019-06-02 19:53] ig-orb commented on #48
I'd like to work on integrating the recent Notepad++ 7.7 Scintilla 4.14 upgrade into the plugin. My email is ig8orb@gmail.com

[2019-06-03 15:34] kbilsted commented on #48
Sounds great. Probably you need to clone the npp project too and run the python code generator in this project

[2019-08-18 11:03] Panhectic commented on #51
I found the same problem when I first tried the template.
It is, by default, building a 64bit DLL - that caused this message with a 32bit NPP.
I chose to upgrade my NPP to 64bit and everything was fine.

[2019-10-10 17:15] joylin1984 commented on #51
@miaoweiwei 请问你解决了吗，我也发现了这个问题呢。

[2019-10-11 14:18] joylin1984 opened #52 "0.94-ansi plugin is not compatible with your unicode notepad++"
Notepad++ v7.6.6   (64-bit)
Build time : Apr  3 2019 - 23:52:32
Path : D:\Program Files\NPP\mynpp.7.6.6.bin.x64\notepad++.exe
Admin mode : ON
Local Conf mode : ON
OS : Windows 10 (64-bit) 1607
NotepadPlusPlusPluginPack.Net：0.94.00
VS2015 up3 include C++

when npp loading dll , has error as "ansi plugin is not compatible with your unicode notepad++"

[MyNppPlugin2.zip](https://github.com/kbilsted/N

[2019-10-13 18:24] kbilsted commented on #51
We probably need to import the npp definitions and do a new release. Anyone up for the task? there are python scripts in this repo to import the npp files

[2019-10-28 14:53] gurikbal commented on #52
[NppPlugin0.93.96.zip](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/releases/download/0.93.96/NppPlugin0.93.96.zip) is for Unicode build

[2019-11-24 00:40] miaoweiwei commented on #51
没有解决

[2020-01-02 18:25] hatcherj opened #53 "Location of plugin dll in Notepad++ after build not in appropriate location"
NPP Version 7.7.1 (64-bit)
If I create a new project called XXX and build, it will put a dll in C:\Program Files\Notepad++\plugins called XXX.dll

In this version of NPP the dll needs to go in a folder of the exact same name so in this location: C:\Program Files\Notepad++\plugins\XXX\XXX.dll

----------------------------
To get around this for now in C:\Program Files\Notepad++\plugins I created a

[2020-01-02 19:17] kbilsted commented on #53
Thanks for the feedback. PR is welcome

[2020-02-26 13:24] Wrastone commented on #51
Any updates for this issue? because i have same trouble. Tried countless times in many variations of versions and platforms: VS 2015/2017 and npp 7.8.4 both 32 and 64 bit, nothing works, everytime get an error like @miaoweiwei

[2020-07-29 10:12] mahee96 commented on #51
@kbilsted I can volunteer for this as I am currently working with similar task using this plugin.
@Wrastone and @miaoweiwei can you please provide the combinations that you guys tried, such as NPP version (type x86/x64?), Plugin Template Version (was is a release zip or did you build this VS template from source by yourself).

[2020-07-29 19:40] mahee96 commented on #53
@kbilsted This issue is now resolved in the following commit and has been already integrated into the master branch  ref: https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/commit/7f3d568e39d07986d237313fb12b8771e5118e70#diff-cf93b2d72884eed7d8f6d4e4af1456cd

The last release(NppPlugin0.94.00.zip) is outdated which dates back to Jan 18 while the commit was from Feb 19.

Happy to help,
Thank

[2020-07-29 20:04] mahee96 commented on #52
@joylin1984 @kbilsted With latest release NppPlugin0.94.00.zip this issue is not reproducible. I used the downloaded template in VS2019 and in x64 build, the Notepad++ application just works fine with my dummy test plugin.

[2020-07-29 20:22] mahee96 commented on #43
Hi @lutz , I was wondering why was the plugin present in "%PROGRAMDATA%\Notepad++\plugins\" ?, isn't it supposed to be in %PROGRAMFILES%\..\? for it to be loaded by the Notepad++ plugin manager. Was there any reason behind it.

@lutz @kbilsted The second issue seems like an outdated assembly of "mscorlib.dll" being referenced in the project. Is this due to the Project_config/Assembly_config using

[2020-07-29 20:40] mahee96 commented on #48
@kbilsted Thanks for this plugin, I was struggling with the win32 api's to build everything from scratch(for my Npp plugin) since I finished with my backed and was looking for a design editor such as winforms/wpf, but to me surprise, I found this wonderful work of yours which saved me some of my precious time in debugging my COM interface that I had earlier.

I would be happy to make contributions

[2020-07-29 20:42] mahee96 commented on #48
Btw, Is there a git plugin for Notepad++ that anyone know of, such as in intellij or VS code. Thanks

[2020-07-29 21:32] gurikbal commented on #52
keep `namespace Kbg.NppPluginNET` then try it.

[2020-07-30 06:45] mahee96 commented on #52
@gurikbal are you referring to main.cs of the plugin where I need to have this namespace to reproduce this error? I am not sure, could you be more specific? (I tried again with a fresh download of jan 2018 release). I can run the dummy plugin fine in Notepad++ x64 (v 7.8.9) on Win 10 x64 Enterprise with that namespace which comes (default) out of box(from downloaded template). For debugging and bu

[2020-07-30 15:02] gurikbal commented on #52
[Kbg.NppPluginNET.zip](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/files/5002034/Kbg.NppPluginNET.zip)

![capture-20200730-202553](https://user-images.githubusercontent.com/36083297/88939036-ad774b00-d2a3-11ea-845f-49a2e32a73cc.png)

[2020-07-30 18:32] mahee96 commented on #52
@gurikbal Thanks for getting back to my request, I tried to unzip your project and opened it up in VS2019 which i am using.

First thing I observed, directly clicking on build without any changes (solution had x64 and Release mode set as default upon opening), caused a build failure with message "**Build Failed**" on the output window. [**No warnings, No Errors**, 21 Info messages]
But it still ga

[2020-07-30 19:31] kbilsted commented on #43
@mahee96 thanks for your input. Haven't looked at the project for a while. Do you have the time to fiddle with improvements?

[2020-07-30 19:34] kbilsted commented on #48
@mahee96  you a very welcome to contribute. There are quite a few things

* move away from a vsprojekt
* look into moving parts of the code generated code into a separate nuget package
* the latest bugfix changes were made directly in the generated code rather than i the code generator - it needs be moved
* make each line of the code generated code have a comment telling you should not modify the

[2020-07-30 19:54] mahee96 commented on #43
@kbilsted sure, I would be happy to contribute.

[2020-07-30 19:58] mahee96 commented on #48
@kbilsted okay, will look into it 👍

[2020-08-02 12:03] kbilsted commented on #43
@mahee96 at some point N++ moved the folder for plugins, we haven't updated this plugin pack accordingly.

[2020-08-07 01:31] LesF opened #55 "VS2019 requirements - still dependant on .Net 3.5"
With a new project created using NppPlugin0.94.00.zip, using VS2019, the build failed with "Could not load file or assembly 'Microsoft.Build.Utilities, Version=2.0.0.0".  I had installed the workload "Desktop development with C++", but this does not provide the required build tools or expected version.

Has anybody created a guide for getting this to build in VS2019?

[2020-08-07 01:56] LesF commented on #55
_Full error:_
The "NppPlugin.DllExport.MSBuild.DllExportTask" task could not be loaded from the assembly C:\Projects\Misc\NppPlugins\ZipFileList\ZipFileList\PluginInfrastructure\DllExport\NppPlugin.DllExport.MSBuild.dll. Could not load file or assembly 'Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find t

[2020-08-09 21:49] mahee96 commented on #55
I am already using VS2019 for my builds and it completely works fine, There have been changes to the code, to fix some bugs after the last release NppPlugin0.94.00.zip, So I think if you re-build it from source you wont have any issues.
[The issue was the DLLExport script which was referring to some old lib.exe or something]

Just download the source, copy and replace the PluginInfrastructure fold

[2020-08-10 23:04] LesF commented on #55
I get the same error using the PluginInfrastructure folder from the source.  Do I need to install more than just the "Desktop development with C++" workload for VS2019?

[2020-08-11 00:31] mahee96 commented on #55
Let's try the verbose build log first to see exactly what's causing the issue, as .NET v4.0 is a minimum requirement for this implementation and you should have it to start working with this project.

Try to set the build log and console ouput to be detailed, attach the log as a text file here

https://www.teamdevelopmentforsitecore.com/Blog/increase-build-log-verbosity-details-build-problem

[2020-08-11 04:18] LesF commented on #55
When I open the solution it prompts to say that it is targeting .Net 3.5, which is not installed, and prompts to upgrade NppManagedPluginDemo.VS2015 to .Net 4.6.1 or download 3.5.  I chose the upgrade option, but it looks like references to build versions are not upgraded when it does this.

[2020-08-11 11:41] gurikbal commented on #52
no no

[2020-08-12 13:42] mahee96 commented on #55
Ah, so it was the demo plugin then, sorry I didn't look into the demo plugin much and I thought you were referring to the template itself.

Try to manually zip the files from "Visual Studio Project Template C#" downloaded source.zip and place them in the "Documents\Visual Studio 2019\Templates\ProjectTemplates\Visual C#" and create a new project from the newly added template. The template in is ha

[2020-08-12 15:22] mahee96 commented on #55
@LesF I tried the Demo Plugin _NppManagedPluginDemo.VS2015.sln_ and **can confirm its obsolete also not working**.

As I mentioned in my previous comment, create a plugin from the template and it should have all the latest commits/updates and should work out of box.

we will look what we can do with the demo plugin.

[2020-08-12 15:53] mahee96 commented on #55
Wow, I didn't care to use this demo plugin till now and was surprised to see it has some cool features implemented.

For me the issue was the old reference to DLL export targets (which were not being updated in parallel with the main plugin template) [Since they were compiled assemblies all I had to do was to **copy DLLExport folder from the "\Visual Studio Project Template C#\PluginInfrastructure

[2020-08-12 17:25] mahee96 commented on #55
@kbilsted @LesF PR #57 should update the demo plugin (ready for VS2019).

[2020-08-12 17:35] kbilsted commented on #55
Let's figure out what to do with the project as a whole. Perhaps we should merge it with the projekt template and change that to project that can be mutated to serve new projects.

The demo is really nice in that it serves as an integration test.

[2020-08-12 17:44] mahee96 commented on #55
yes true, I too thought that the manual copy pasting(DLL export files) won't be at the top of our heads when we do some changes in the template's PluginInfrastructure folder. Better we can have it linked somehow to keep them in sync whenever there is some change.

[2020-08-12 17:53] kbilsted commented on #55
@mahee96 Perferably all the code-generated files were placed in a dll used via nuget.

but it may make it difficult to debug / understand what is going on - also im not sure the dll export can include extra dll's.

But the current thing is not nice either with a demo/test project and a vs project that cannot be executed directly but only tested via copying the projtemplate and generating a new pro

[2020-08-12 20:40] LesF commented on #55
Thanks, I have a running project now. Was able to attach to Notepad++ and debug too. The demo is a good reference so it's worth having it there.

[2020-08-13 08:05] LesF commented on #55
Have created my first github project, and my plugin works, https://github.com/LesF/NppPlugin-ZipFileList

[2020-08-13 08:05] #55 closed

[2020-08-13 19:32] kbilsted commented on #55
@LesF glad to hear.if you like our project please link to us from your project to help spread the word

[2020-08-14 15:24] kbilsted commented on #31
@mahee96  vote to close

[2020-08-14 15:26] kbilsted commented on #51
@mahee96 vote to close - I think the latest PR should solve or people can re-open.

[2020-08-14 18:17] mahee96 commented on #17
I too am facing some kind of issue with docker container, in which I was trying to **host a WPF window inside the Win32 dock container** provided by Npp. The problem was that whenever the hosted dock window is being **re-sized** or **docked/undocked** it goes blank or renders incorrectly.

If anyone has any ideas or pointers on what could be the issue will be much helpful(I am deugging native Npp'

[2020-08-14 18:27] mahee96 commented on #43
The master branch contains the latest fixes and the ANSI plugin issue has been resolved.
If there is still an issue we can re-open it or track it with a new issue anytime.

Closing this issue for now :)

[2020-08-14 18:27] #43 closed

[2020-08-14 18:41] mahee96 commented on #52
The ANSI code issue in the plugin has been resolved in the latest master branch, a release might be required to have a new package.

Until then,

Please directly download the source, run the "makerelease.ps1" powershell script to zip the template and place it into VS2019 Templates folder. From there, you can see the latest template when you launch Visual Studio new project page.

[2020-08-14 18:41] #52 closed

[2020-08-14 18:43] mahee96 commented on #53
As mentioned above the **latest master branch already has the fix** and it has been tested with NPP v7.8.9 both x86, x64.

Closing the issue

[2020-08-14 18:43] #53 closed

[2020-08-14 19:00] mahee96 commented on #51
Yeah, looks like it. **Closing with some notes**.

**Just a note:** This issue happened to me when I was doing changes in Cpp/Win32 Api world.
The reason for my problem was that the getFuncsArray method wasn't returning a valid function pointer array/vector or the nbF value which should be a valid count entries in the function pointer array/vector.

_So Ensure proper value to_
1. **nbF** - Count o

[2020-08-14 19:00] #51 closed

[2020-08-14 19:20] mahee96 commented on #31
Closing, since this issue is fixed in the latest master branch.

[2020-08-14 19:20] #31 closed

[2020-08-14 22:13] kbilsted opened #59 "move away from a vsprojekt"

[2020-08-14 22:14] kbilsted opened #60 "look into moving parts of the code generated code into a separate nuget package"
not sure if it is possible, also trade-offs

* maybe be more difficult to debug code
* easier to upgrade the plugin pack

[2020-08-14 22:16] kbilsted opened #61 "prevent regression"
the latest bugfix changes (prior to @mahee96 ) were made directly in the generated code rather than i the code generator - it needs be moved to the code generator

ensure that changes are not lost - but perhaps @mahee96 lastest changes incorporate it all

[2020-08-14 22:17] kbilsted opened #62 "make code generated code stand out more"
by accident we merged PR that change the code generated code. The code should be heavily commented with it being code generated and should not be touched

[2020-08-14 22:20] kbilsted opened #63 "minimum requred version of n++"
we state

is this still the case after @mahee96 upgrade? investigate and possibly bump required n++ to newer.. or maybe we don't care and simply bump! :)

[2020-08-15 13:56] mahee96 commented on #61
@kbilsted I can verify the latest state of master branch with its prior state before my first PR #56 by diffing with the snapshot. I will report back when I see missed changes if any.

Another set of eyes can surely be helpful here. :)

[2020-08-15 14:24] kbilsted commented on #61
Indeed all are welcome. @jokedst you still onboard?

[2020-08-15 19:45] mahee96 commented on #17
okay, I **did some profiling** and can **clearly see some hotspot in the gripper function** in notepad++ main process which _handles the dragging for the dock panel container_. Probably its getting locked up in the Kernel or some bug (looping?) in the message handling loop **Gripper::staticWinProc()** of notepad++ process.

Since Winforms are just a wrapper to WinAPI, probably there shouldn't be a

[2020-08-30 18:43] mahee96 commented on #17
Found something on this:

https://forums.codeguru.com/showthread.php?412421-endless-messages-WM_GETDLGCODE-when-focus-is-lost

https://www.codeproject.com/Articles/470997/A-tale-of-two-flags-DS-CONTROL-and-WS-EX-CONTROLPA

http://www.guyswithtowels.com/blog/10-things-i-hate-about-win32.html (See Nested Dialogs section)

Looks like it's a InterOp issue(dialog manager doesn't find the target child/n

[2020-08-30 19:24] mahee96 commented on #17
About the profiling screenshots attached earlier(I stepped into Npp source code to look what's happening):

1. Npp creates the dock container window internally and hosts the new control or window(registered by passing an handle + Npp data to Npp using message NPPM_DMMREGASDCKDLG). When register request is received the docking manager of Npp not only creates a docking window container but also disp

[2020-09-03 19:54] #21 closed

[2020-10-09 22:42] gandarez commented on #47
Hi it started happening again. I tried updating all files under `PluginInfrastructure` as a tentative to solve the problem. Both platforms are throwing the message of incompatible ANSI.

OS: Windows 10 Pro x64
Notepad++: v7.9 x64

[2020-10-09 22:53] gandarez commented on #47
I just realized that building with VS 2019 caused the error. I had to get back to VS 2017. Interesting point to be investigated.

[2020-10-09 22:53] #47 closed

[2021-01-09 07:49] wuwao1 opened #65 "MyNppplugin2.dll is not compatible With the current verson Of Notepad++"
The environment : VS2019 & Notepad++7.9.2 & NppPlugin0.94.00
There seems to be a problem with the environment and template I am using, but there is no way to locate the error.Video below

https://user-images.githubusercontent.com/29857592/104086284-7d3fc980-5291-11eb-921c-3f7a43403170.mp4

[2021-01-09 20:06] guidomarcel commented on #65
Hi,
I have exactly the same issue with VS2019.
[https://community.notepad-plus-plus.org/topic/20562/sqlinform-dll-not-compatible-with-the-current-version-o-n/7]
Maybe NotepadPlusPlusPluginPack.Net  is not ready for VS2019?
Regards
Guido

[2021-01-10 01:06] wuwao1 commented on #65
Hi Guido
FYI
I tried to compile NPPPlugin0.94.00 using VS2019,VS2017 and VS2015. Only the plugins compiled from VS2015 worked correctly.Thanks.

[2021-01-10 05:15] mahee96 commented on #65
Are you guys trying to use the zip attached to the releases page ? If so...try to download the sources directly from the main page as zip and use it.

There were lot of changes made to master/main branch but not yet released.

Please let me know if this worked.

[2021-01-10 05:23] mahee96 commented on #65
@kbilsted can you create a new release out of master/main branch so that people who don't care about the sources can directly download the assets from releases.

Or at least we need to update the README to tell that they need to download straight away from the master branch source since there has been updates after the last release which is 2 years back

[2021-01-10 06:34] wuwao1 commented on #65
Hi mahee96
FYI
I use VS2019/VS2017/VS2015(both Community versions), and only VS2015 compiles x86 and x64 plugin (the latest source and official release code) properly.Currently I can only use the plugin with VS2015.Thanks.

[2021-01-10 09:40] mahee96 commented on #65
https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/archive/master.zip try unzipping this archive and manually copy and replace the files from this into your plugin development folder

[2021-01-10 10:41] mahee96 commented on #65
@wuwao1 I have created a new pre-release package NppPlugin0.95.00.zip in releases page. It contains the latest fixes after the last release 0.94.00. Try to read the HOW-TO-INSTALL.txt and if it still doesn't work with VS2019 please let me know!

@kbilsted since we were not actively making any progress to this project, I have drafted a new release 0.95.00 and published as a pre-release. If it is no

[2021-01-10 10:42] mahee96 commented on #65
@guidomarcel please check my last comment and let me know if you still have issues. Thanks!

[2021-01-12 01:27] #65 closed

[2021-01-23 20:57] chcg commented on #48
@mahee96 There is the N++ plugin https://github.com/vinsworldcom/nppGitSCM .

[2021-04-17 13:58] BdR76 opened #67 "Demo plugin a bit too trivial, add edit text demo?"
This is an excellent template but the demo plugin is a bit too trivial imho. I mean a plug-in would typically do something with the current opened text file.

So instead of a line-jump demo, maybe also add word find and replace demo. So two textboxes and a button to replace one with the other, for example "Cat" and "Kitten" or something like that.

[2021-04-18 13:54] mahee96 commented on #67
Yeah that sounds nice, but if you want something for a quickly, you could look upto scintilla and notepad ++ APIs from the notepad++ repository coz this project should act just as a bridge so all APIs supported by notepad++ should be supported by this project too.

[2021-04-29 09:22] HowkeWayne commented on #65
sorry I have to say the problem remains,
I still can't  Compile the demo successfully.
The environment : VS2019 & Notepad++7.9.5 & v0.95.00 pre-release

[2021-04-29 09:23] HowkeWayne commented on #65
![image](https://user-images.githubusercontent.com/18286445/116529465-94252d00-a90f-11eb-82f9-234d8f196234.png)

[2021-04-29 09:24] HowkeWayne commented on #65
![image](https://user-images.githubusercontent.com/18286445/116529549-aef7a180-a90f-11eb-8098-508208dc0534.png)

[2021-05-02 10:02] kbilsted commented on #65
works on the new 0.95?

[2021-05-06 09:23] HowkeWayne commented on #65
yes

[2021-05-13 14:51] roy192 opened #68 "ScNotification.TextPointer points to nothing in 64bit"
I tried using the SCN_AUTOCSELECTION notification to insert something else than what was selected in the autocomplete menu.

The pointer to the text of the selected option should be in notification.TextPointer. But when run in 64bit, it points to nothing, and notification.Length contains some large negative number.

![image](https://user-images.githubusercontent.com/6928846/118140056-4d076380-b408

[2021-05-20 14:00] Ekopalypse opened #69 "Q: Extending it to be usable as a lexer template"
I am currently trying to add a [lexer class](https://github.com/Ekopalypse/NppPluginLexerExample/blob/master/LexerPlugin/NppManagedPluginDemo/PluginInfrastructure/Lexer.cs)  to the plugin pack so that it can be used to write lexers in C#.
The additional exports needed have been added in UnmanagedExports.cs.
The problem I face is that the methods in the ILexer class are garbage collected.
But from

[2021-05-20 17:33] joylin1984 commented on #65
0.95  VS2017 npp7.9.5  x64

The same problem occurs

[2021-05-21 09:40] omid99visual commented on #69
What is it ILexer?

[2021-05-21 09:56] Ekopalypse commented on #69
A wrapper to the [C++ Interface provided by scintilla](https://www.scintilla.org/ScintillaDoc.html#LexerObjects).

[2021-05-21 13:56] Ekopalypse opened #70 "Incorrect SetFoldLevel signature"
[SetFoldLevel](https://www.scintilla.org/ScintillaDoc.html#SCI_SETFOLDLEVEL) needs to have an integer type as its second parameter instead of the FoldLevel enum.

[2021-05-23 13:04] mahee96 commented on #70
@Ekopalypse , There are auto generated enums in GatewayDomain.cs file, this was intentional to have more meaning to the flag grouping.

public enum FoldFlag
        {
            LINEBEFORE_EXPANDED = 0x0002,
            LINEBEFORE_CONTRACTED = 0x0004,
            LINEAFTER_EXPANDED = 0x0008,
            LINEAFTER_CONTRACTED = 0x0010,
            LEVELNUMBERS = 0x0040,
            LINESTATE = 0x00

[2021-05-23 13:06] mahee96 commented on #65
@joylin1984 do you still have the issue? Can you try this if not tried yet?
https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/releases/download/0.95.00/NppPlugin0.95.00.zip

[2021-05-23 13:09] mahee96 commented on #69
@Ekopalypse is it newly added to scintilla interface definitions, if so the ILexer class doesn't need to be added manually, instead there is a generator script which updates the C# file, that needs to be run.

We can re-run the generator to update C# scintilla interface. Please let us know.

[2021-05-23 13:15] mahee96 commented on #68
@roy192 , completely understandable. seems like bug that was missed when producing the template files. will try to correct them in free time.

[2021-05-23 19:27] Ekopalypse commented on #70
But FoldFlag enum is something else and is used by the call SCI_SETFOLDFLAGS.
SCI_SETFOLDLEVEL sets the current level per line and is used to determine which rows must be must be collapsed/expanded, while FoldFlags describe how folded/expanded rows should be visually displayed.

[2021-05-23 19:35] Ekopalypse commented on #69
@mahee96
No, it is not new, I assume the ILexer interface is about as old as scintilla itself.
I assume you are talking about the scintilla.iface file, which is used to describe the scintilla interface.
If that is the case, then no, ILexer is not defined there, it is defined in ILexer.h. The only reference
in scintilla.iface is the call SetILexer which would be used to set an external lexer.
As fa

[2021-05-23 19:44] mahee96 commented on #70
Oops sorry for the confusion, I meant to refer you to FoldLevel enum in the Gatewaydomain.cs, Could you please check that enum satisfies your request

[2021-05-23 19:50] mahee96 commented on #70
@Ekopalypse checkout this

[code]

[2021-05-23 20:00] Ekopalypse commented on #70
No, these are the flags which need to be used in combination with additional integers.
Let me give you an example, assume in the following code and we want to mark the { as the open folding tag and } as the closing tag like npp does.

[code]

To set the respective flags you would set to line
0 -> BASE
1 -> BASE | HEADERFLAG
2 - 6 -> BASE + 1
7 -> BASE

Now scintilla knows where to put the folding

[2021-05-23 20:04] Ekopalypse commented on #70
Maybe this example is more descriptive

[code]
The lines need to be set like
0x0400
0x2400
0x2401
0x2402
0x0403
0x0403
0x0402
0x0401
0x0400

[2021-05-24 13:04] mahee96 commented on #70
okay there is a slight discrepancy in [Scintilla.iface](https://github.com/notepad-plus-plus/notepad-plus-plus/blob/9a2dcaa5f8eb678e2b0c6494c16a8b9df37f06bb/scintilla/include/Scintilla.iface#L1339) file and the [official documentation](https://www.scintilla.org/ScintillaDoc.html#SCI_SETFOLDLEVEL) which we have to fix.

The documentation states:
[code]

whereas the Scintilla.iface file states:
[cod

[2021-05-24 13:06] mahee96 commented on #70
@Ekopalypse , a quick fix can be made for this particular field for now, but the inventory of affected fields will be performed later some time and a fix will be given.

[2021-05-24 14:57] mahee96 commented on #70
@Ekopalypse, The fix is created as a pull request, review the commit and see if the issue will be resolved after this merge.

Thanks.

[2021-05-25 13:26] Ekopalypse commented on #70
@mahee96 - just to be clear, I am a C# noob.
This is my very first C# project, so my knowledge of C# is actually .... non-existent.
The PR makes an int out of the enums and, yes, that's what I need.
However, according to my research, the C# int type is a 32bit signed integer and thus is actually wrong, since Scintilla defines positions and lines as IntPtr.
But of course I can understand if someone

[2021-05-25 16:08] kbilsted commented on #70
I agree, we should use an enum

[2021-05-25 17:22] mahee96 commented on #70
@Ekopalypse, That's great finding, I for once, forgot about the .NET runtime being managed and the standard int size(32-bit signed) is limiting when the actual data is a pointer type value.

In unmanaged code the **int datatype** is **32-bit signed** on both x86/x64 but a **Pointer type** is dependent on the addressability ie, **32-bit unsigned on x86, 64-bit unsigned on x64**.
In managed code sin

[2021-05-25 17:24] mahee96 commented on #70
@kbilsted, I don't think its about enum anymore, its about the underlying struct mappings are now causing problems due to mismatch in the types to be used, ex: using int is incorrect when scintilla says to use intptr_t whose equivalent in C# is IntPtr.

Let me know your thoughts on these.

[2021-05-25 17:30] mahee96 commented on #70
+1 using IntPtr would only increase burden on the developer who is using this template, since for arithmetic they have to perform cast to [long/ulong](64-bit)/[int/uint](32-bit) (considering fact that pointers are unsigned) even for 32-bit (putting 4 byte pointers into 8-byte containers doesn't hurt).

[2021-05-25 17:36] mahee96 commented on #70
**Note for *int*, *position*, *line* scintilla states it uses intptr_t whose equivalent in C# should be IntPtr**

![scintilla](https://user-images.githubusercontent.com/47920326/119542847-9fa03280-bdad-11eb-816f-b3ca04fbb341.JPG)

[2021-05-26 07:02] mahee96 opened #74 "Possible data corruption(Plugin Failure) in x64 environment due to usage of int where intptr_t should have been used"
Based on [scintilla documentation](https://user-images.githubusercontent.com/47920326/119613402-a0bb7900-be1a-11eb-8a4e-80f77c3fdd97.JPG) the data type 'int' in the Scintilla.iface file is based on the execution-image-memory-model dependent ie: it will be 32bits in x86 env whereas 64-bits in x64 env.

Hence scintilla docs suggests to interpret it as intptr_t type which is a pointer container that

[2021-06-01 20:42] Ekopalypse commented on #70
Just for my understanding, there are no open issues that concern me, meaning where I should/can help or provide information?
Please do not misunderstand this post, no pressure should be built. I am aware that this is an open source project and everyone here sacrifices their free time to provide others with a helpful tool. Thank you very much for that. So if there is something where I can support,

[2021-06-12 23:13] BdR76 opened #78 "Building new project from template, error "task could not be loaded from the assembly .. NppPlugin.DllExport.MSBuild.dll""
Recently I got a clean Windows 10 installation and I reinstalled Visual Studio. I downloaded the [latest version](https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/releases/) of the template. I put the NppPlugin0.95.00.zip file in the template directory, and create a new project. However then I get this error when I build the project created from the template.

[code]
I've also checked [th

[2021-06-13 11:46] BdR76 commented on #78
I just installed the **.NET 3.5 dev tool** and it works again. So for anyone else reading, you can:

* start Visual Studio Installer (separate app)
* click Visual Studio "Modify" button
* select "Individual components" tab
* check ".NET framework 3.5 development tools" and press "Modify" to install.

Then back to the Visual Studio plugin project, rebuild and this particular error is resolved.

But

[2021-06-16 05:50] danwca opened #79 "demo.dll does not work with Notepad++ 7.9.5"
Visual Studio 2019,
Notepad++ 7.9.5 source code
NotepadPlusPlusPluginPack.Net, current version

after compile Notepad++ 7.9.5, it works with plugin [markdownviwerplusplus] bin file which is download from Github.
after compile [markdonwviewerplusplus], it does not work with Notepoad++ 7.9.5. reports plugin dll not compatible.
after compile [NotepadPlusPlusPluginPack.Net], it does not work with Note

[2021-06-16 05:53] danwca commented on #79
error message
![210616015311](https://user-images.githubusercontent.com/78062882/122165064-ac142a00-ce45-11eb-9e8e-417368245edf.jpg)

[2021-06-19 03:42] RobinGut999 opened #80 "is not compatible with the current version notepad++"
Hi Compiled your plugin template but it throws an error? what could be the problem?

[code]

![image](https://user-images.githubusercontent.com/81331618/122630001-14bb0b00-d0c1-11eb-85fe-48b7425efe6a.png)

[2021-06-19 07:44] RobinGut999 commented on #78
Hello, is the latest version of the template working correctly?

[2021-06-19 16:31] danwca commented on #79
the issue is solved by install the English version of Visual Studio 2019. Apparently, there is a compatible issue for Visual Studio 2019 between different language versions.

Thanks,

[2021-06-19 16:36] danwca commented on #80
see https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/issues/79#issue-922126396, for your reference.

[2021-06-29 02:18] #79 closed

[2021-07-01 12:15] mahee96 commented on #80
@RobinGut999 seems like a unicode translation issue for UTF chars wider than 16-bit maybe, causing incompatible plugin issue. Have to check with notepad++ and current plugin configs whether they match.

[2021-07-01 12:17] mahee96 commented on #61
Issue #70, #74 and #68 might be caused due to regression

[2021-08-04 11:54] BdR76 commented on #78
Yes the latest version of the template works correctly, but you do have to install the .NET 3.5 dev tool

[2022-01-31 08:57] guidomarcel opened #83 "in x64 ScNotification.character is always '\0'"
Hi ,
many thanks for your great work!! May I report one issue in x64 environment?

In my plugin I do not want to perform any actions when the user pressed space key. Therefore I want to know which key the user pressed and use this logic

`public static void OnNotification(ScNotification notification) {
   ...
   if (notification.Header.Code == (uint)SciMsg.SCN_CHARADDED{
       Char c = notificati

[2022-02-01 10:43] guidomarcel commented on #83
it looks like @mahee96 solved this issue already in the branch 'develoment'
many thanks!!

[2022-02-01 10:45] #83 closed

[2022-02-01 10:45] guidomarcel commented on #83
Issue solved by @mahee96

[2022-02-01 10:50] guidomarcel commented on #70
Changing the struct as @mahee96 did in the development branch solved one of my issues. We could merge the development branch into the master branch. What do you think @kbilsted  ?

[2022-02-01 10:52] guidomarcel commented on #70
@kbilsted , @mahee96  one more comment. I tested the NotepadPlusPlusPluginPack. in VS2022 Community Editaion succesfully

[2022-02-01 12:47] rdipardo opened #84 "Access violation in x64 builds of latest Notepad++ release"
In the [8.3 release] of Notepad++, the type of Scintilla's `Sci_PositionCR` message [changed] from `long` to `intptr_t`. As a result, 64-bit plugins using the NppPlugin.NET interface are prone to access violations when calling into [the `SCI_GETTEXTRANGE` API].

After seeing [this analysis] of recent crashes involving the [CsvQuery] and [DSpellCheck] plugins, I was able to reproduce with [CS-Scrip

[2022-02-13 04:45] Leonard-The-Wise opened #85 "MSBuild target path is incorrect for Notepad 8.2.x"
Current DestinationFolder on **NppPlugin.DllExport.targets** file for the project is either
     $(MSBuildProgramFiles32)\Notepad++\plugins\
or
     $(ProgramW6432)\Notepad++\plugins\

But if you compile your plugin under this directories, Notepad++ won't recognize the installation anymore. You must specify a folder with your project name. I fixed the strings here, if you want to update the Git wi

[2022-04-15 20:01] glanham-jr opened #86 "Project Template not recognized in Visual Studio 2022"
I tried loading the using the latest release (0.95) with Visual Studio 2022, but the IDE didn't recognize it. It currently works with Visual Studio 2019. However, I was able to create the project in Visual Studio 2019, and open it in 2022.

[2022-05-28 13:56] Fruchtzwerg94 commented on #74
Is there any update on this issue?

I've stumbled over the same behaviour at this minimal sample:
`TextRange textRange = new TextRange(0, -1, 1000)`
which works for x86 but crashes on for x64.

After modifying to `IntPtr` it runs for both architectures:
`TextRange textRange = new TextRange(new IntPtr(0), new IntPtr(-1), 1000)`

https://github.com/kbilsted/NotepadPlusPlusPluginPack.Net/blob/master/

[2022-05-28 14:50] kbilsted commented on #86
If you can, please submit a PR that fixes it:)

[2022-05-28 14:50] kbilsted commented on #85
Thanks for reporting. If you can, please submit a PR that fixes it:)

[2022-05-28 15:11] Fruchtzwerg94 commented on #74
See #91

[2022-05-28 15:11] Fruchtzwerg94 commented on #84
See: #91

[2022-06-06 07:04] Denisf88 commented on #17
Hi, was a solution found for the original issue ? I'm having the same issue using buttons inside a tab control. works fine when docked but freezes when the panel is undocked.

[2022-06-06 09:54] mahee96 commented on #17
@Denisf88 A work around suggested was to ...set the Extended style attribute of grid(group) control to WS_EX_CONTROLPARENT once the control is loaded or created.

[2022-06-06 09:55] mahee96 commented on #17
@Denisf88 can you check if that helps, I haven't been in touch with this codebase since sometime now...will check out when I get time.

[2022-06-06 10:17] Denisf88 commented on #17
@mahee96 thanks for the info, I'm not quite sure how apply this workaround, will try figure it out.

[2022-06-08 23:53] eladkarako commented on #86
same for 2019 even.

[2022-06-09 06:47] kbilsted commented on #86
What is the errors you are getting and what are the solutions to those errors?

[2022-06-09 13:32] eladkarako commented on #86
can't remember if I even saw any.
afterwards I've just cloned someone's else repo, whom made use of this template,
since I've wanted to see if NPP can even use it.

it does not seems that the C# is even working.
the .net dll lacks entry points and won't recognised with NPP.

seems a lot have changed both in the structure of NPP and VS.

switched to VCPP. it uses sendmessage, a lot nastier, but com

[2022-07-28 09:33] amid0 opened #93 "ILMerge. Build error."
Trying to use MSBuild.ILMerge.Task nuget package to merge Newtonsoft.Json package into main dll.
On build getting error
`1>D:\sources\NppPlugin\MyPlugin\MyPlugin\PluginInfrastructure\DllExport\NppPlugin.DllExport.targets(13,5): error : D:\sources\NppPlugin\MyPlugin\MyPlugin\PluginInfrastructure\ScintillaGateway.cs(16707566) : error : syntax error at token '-' in:     IL_0027:  ldc.r8     -inf`
Som

[2022-08-04 07:31] TaoK commented on #86
Insofar as I'm experiencing the same thing (and I haven't tried VS2019 yet), there are no errors to report:
* You place the Zip file in `Documents\Visual Studio 2022\Templates\ProjectTemplates\Visual C#\` as suggested
* You open Visual Studio
* You search for the template - it's not there

(I've also tried something more equivalent to another template that does work, eg unzipped in `C:\Program Fil

[2022-08-06 13:39] TaoK commented on #86
Presumably this is unrelated information, but when I installed VS2019 as a workaround, I found that I was still missing a few steps that were non-obvious (to me):
* I had to install at least the C# support in Visual Studio, otherwise the template was ignored / didn't show up
* I had to install the .Net 4 targeting pack, otherwise I couldn't compile the new project
* I had to install .Net 3.5 (wind

[2022-08-24 21:39] molsonkiko commented on #93
Hi amid0, I'm getting the same error as you, but it's definitely not related to Newtonsoft.Json or any specific details of your code.

I get a similar error whenever there is any instance of `double.PositiveInfinity`, `double.NegativeInfinity`, or `double.NaN` anywhere in my code.

My guess is that it's related to ILMerge or DLLExport. I know for a fact that ILMerge has been deprecated and unmaint

[2022-08-25 01:59] molsonkiko commented on #93
So I have a hacky but functional solution if you need NaN or infinity in your code: generate it at runtime in such a way that the compiler doesn't get angry.

`1d/0d` or the like won't work - those kinds of math operations are pre-computed at compile time. I know because I tried.

Here's a class that does what you want.

[code]

By the way, I can make a pull request to add this to the plugin pack!

[2022-08-26 16:10] kbilsted commented on #93
are there a good substitute for ilmerge?

[2022-08-26 18:38] molsonkiko commented on #93
[IlRepack](https://github.com/gluck/il-repack) bills itself as a good alternative, and it has been updated as recently as April 2022. No idea if it's compatible with .NET 4.0 though.

I haven't done too much investigation because switching from IlMerge to something else probably requires more work than this one problem merits.

[2022-09-07 16:46] nebosite commented on #16
I'm stuck trying to get this to work on VS 2022.  Anyone have a working demo project they can point me to?

[2022-09-07 16:50] mahee96 commented on #16
Whats your issue

[2022-11-17 20:08] mahee96 commented on #80
This will be fixed in new releases, please do checkout the "releases" tab.

[2022-11-17 20:08] #80 closed

[2022-11-17 20:19] mahee96 commented on #70
we are aware of this issue and will fix if it resurfaces to prevent regression.

Closing issue.

[2022-11-17 20:19] #70 closed

[2022-11-17 20:21] mahee96 commented on #86
so basically the csproj definition incompatibility or missing dependencies for VS2022 issue.

will take care of it in new release's regression testing closing issue.

[2022-11-17 20:21] #86 closed

[2022-11-17 20:24] mahee96 commented on #84
will be taken care by validating Scintilla iface definitions with the API generated here for compatibility issues in next release plan.

Closing the issue.

[2022-11-17 20:24] #84 closed

[2022-11-17 20:26] mahee96 commented on #68
Fixed.

Closing issue.

[2022-11-17 20:26] #68 closed

[2022-11-17 21:04] kbilsted commented on #86
@mahee96 why close bug before committing changes to the project file?

[2022-11-18 05:28] mahee96 commented on #86
@kbilsted, I am working on synchronizing the latest Scintilla.iface API and current state of this plugin APIs by testing custom generator script which will include all the changes that are directly embedded into the generated CS files.

I just wanted to see what are the active open items that the upcoming PR won't be fixing, so closed the issues that will be fixed.

[2022-11-20 05:46] mahee96 opened #98 "Support for x64 - Tech Debt"
### **Problem Statement:**

Trying to support x64 features into a plugin pack which was initially designed to be target x86 arch/runtime only under .NET 4.0 framework.

The plugin pack is a bridge that externalizes the APIs from unmanaged c/c++ native windows application to the managed CLR side such that the plugin developer can use .NET side of the application's API instead.
This is done by using

[2022-11-20 05:51] mahee96 commented on #98
See our previous discussion regarding the same in PR #75

[2022-11-30 12:48] gandarez opened #99 ".Net 6 based plugin"
Hi all!

I started revamping a legacy plugin written in .Net full framework v4.8 to the new .Net 6. After implementing all interfaces `isUnicode`, `setInfo`, `getFuncsArray`, `messageProc`, `getName` and `beNotified` it still throws an unhandled and too generic error from npp `Failed to load`. I’m developing and testing in the same machine, so I assume .Net 6 runtime is installed and available. Is

[2022-11-30 12:55] gandarez commented on #98
Any update on this?